<!DOCTYPE html>
<html>
<head>
	<title>Logged In</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<ul>
		<li><a href="index.html">Log Out</a></li>
	</ul>

	<h2>You have succesfully logged in</h2>

	<form method="POST">
		Name<br>
		<input type="text" name="name"><br>
		Email<br>
		<input type="email" name="email"><br>
		Message <br>
		<textarea name="message" rows="5" cols ="60" maxlength="100"></textarea><br>
		<br>
		<input type="submit" value="Send"> 
		<br>
		<br>
		<input type="reset" value="Reset">
	</form>

</body>
</html>